.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
}
.button, #clear, #equal {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#result {
  width: 12%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

